.container.banner .carousel-inner .item img{
 margin: 0 auto;
}

body {
    background: #0C0C0C;
    font-family: 'Goudy Old Style';
}

#banner {
    background: #221522;
}

a {
    color: #B6C1AC;
    text-decoration: none;
}

a:hover,a:focus {
    color: #B6C1AC;
    text-decoration: none
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

#banner-title {
    height: 130px;
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 0px;
}

#banner-title div {
    margin-left:20px;
}

.no-margin {
    margin: 0px;
}

.logos {
    margin:15px 0px 10px 0px;
}

.logos > a {
    margin:0px 5px;
}

.site-background {
    background-image: url('../img/background.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    background-size: auto !important;
    background-color: transparent !important;
    background: inherit;
    height:482px;
    width:100%;
}

.navigation-row {
    background-color: #221522;
    background: -webkit-gradient(linear, left top, left bottom, from(#0C0C0C), color-stop(30%, #221522), color-stop(70%, #221522), to(#0C0C0C));
    background: -webkit-linear-gradient(top, #0C0C0C 0%, #221522 30%, #221522 70%, #0C0C0C 100%); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(top, #0C0C0C 0%, #221522 30%, #221522 70%, #0C0C0C 100%); /* For Firefox 3.6 to 15 */
    background: -o-linear-gradient(top, #0C0C0C 0%, #221522 30%, #221522 70%, #0C0C0C 100%); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(to bottom, #0C0C0C 0%, #221522 30%, #221522 70%, #0C0C0C 100%);
}

#navigation {
    font-size:24px;
}

#navigation > ul {
    display:inline-block;
}

#content {
    width:1000px;
    height:800px;
}

#content-body {
    margin-top:20px;
}

.gallery-links {
    width:860px;
}

.gallery-links img {
    margin:12px;
}

h2 {
    color:white;
}

.carousel-images {
    display:table;
    height:720px;
}

.item2 {
    display:table-cell;
    vertical-align:middle;
}