.container.banner .carousel-inner .item img{
 margin: 0 auto;
}

body {
    background: #0C0C0C;
    font-family: 'Goudy Old Style';
}

#banner {
    background: #221522;
}

a {
    color: #B6C1AC;
    text-decoration: none;
}

a:hover,a:focus {
    color: #B6C1AC;
    text-decoration: none
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

#banner-title {
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.site-background {
    background-image: url('../img/background.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    background-size: auto !important;
    background-color: transparent !important;
    background: inherit;
    height:482px;
    width:100%;
}

#navigation {
    width:585px;
}

#content {
    width:1000px;
    height:800px;
}

#content-body {
    margin-top:20px;
}

.gallery-links {
    width:860px;
}

.gallery-links img {
    margin:12px;
}

h2 {
    color:white;
}

.carousel-images {
    display:table;
    height:720px;
}

.item2 {
    display:table-cell;
    vertical-align:middle;
}